<%- include('partials/header') -%>
<div class="container">
  <h2>Feed</h2>

  <p>Hello <%=user.userName%></p>
  <span>What's for breakfast?</span>

  <div class="container mx-auto">
    <% for( let i = 0; i < posts.length; i++ ) { %>
    <div class="mb-5" style="outline: 1px solid black">
      <img class="userImages" src="<%=posts[i].image%>" alt="<%=posts[i].name%>" />
      <p><%=posts[i].name%></p>
      <p>Created by:<%=posts[i].user%></p>

      <!-- Like button feature form and button -->
      <form
        class="btn btn-secondary fa fa-heart col-1"
        action="posts/likePost<%= posts._id %>?_method=PUT"
        method="POST"
      >
        <button class="btn btn-primary glyphicon glyphicon-fire" type="submit">
          Like
        </button>
      </form>
    </div>
    <% } %>
  </div>
  <%- include('partials/footer') -%>
</div>
