<%- include('partials/header') -%>
<div class="container d-flex flex-column">
  <div class="container-fluid mb-5 border-bottom border-dark">
    <h2 class="d-flex justify-content-center">Feed</h2>

    <p class="d-flex justify-content-center">Good Morning <%=user.userName%>!</p>
    <h4 class="d-flex justify-content-center">What's for breakfast?</h4>
  </div>


  <div class="container mx-auto d-flex flex-column feedContainer">
    <% for( let i = 0; i < posts.length; i++ ) { %>
      <p class="createdByP d-flex justify-content-center" >Created by: <%=posts[i].user %> </p>
      <div class="mb-5 d-flex justify-content-center">
      
        <!-- Like button feature form and button -->
        <form class="mb-5 likeButton"
        action="/posts/likePost/<%= posts[i]._id %>?_method=PUT"
        method="POST"
      >
        <button class="btn btn-outline-primary likeButton" type="submit">Like</button>
      </form>
    </div>
    <div class="mb-5 d-flex justify-content-center border-bottom border-dark">
      <img
        class="userImages"
        src="<%=posts[i].image%>"
        alt="<%=posts[i].name%>"
      />
     
     

    
    </div>
    <% } %>
  </div>
  <%- include('partials/footer') -%>
</div>
